@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	margin:0px;
	padding:0px;
}
.table{
	border:1px solid #CCC;
	}
img{
	border:0px;
	text-align: center;
}
a{
	color:#000;
	text-decoration:none;
}
div, p, ul, li, h1, h2, h3, h4, h5 {
}
p{
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	color:#000;
	font-weight: normal;
	line-height:17px;
	text-align:justify;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style:normal;
	font-weight:normal;
    color:#3a7c01;
    line-height:20px;
	text-align:left;
}
h2{
	font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style:normal;
	font-weight:normal;
    color:#000;
    line-height:20px;
	text-align:left;
	padding-left:20px;
}
h3{
	font-family:"Times New Roman", Times, serif;
    font-size: 24px;
    font-style:normal;
	font-weight:bold;
    color:#FFF;
    line-height:30px;
	text-align:center;
}
h4{
	font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 13px;
	font-weight:normal;
    font-style: normal;
    color:#FFF;
    line-height:16px;
	text-align:justify;
}
h5{
	font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 18px;
	font-weight:bold;
    font-style: normal;
    color:#cc0000;
    line-height:30px;
	text-align:right;
}
h6{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style:normal;
	font-weight:bold;
    color:#FFF;
    line-height:32px;
	text-align:center;
}

/*==========================Page Id Start=====================*/

#wrapper{
	float:none;
	margin:auto;
	padding:0px;
	width:900px;
	height:auto;
	overflow:hidden;
	}

/*==========================Page Id Start=====================*/

#header{
	float:none;
	margin:auto;
	padding:0px;
	width:900px;
	height:auto;
	overflow:hidden;
	}
#logo{
	float:left;
	width:257px;
	height:101px;
	padding:0px;
	}
#macafee{
	width:96px;
	height:74px;
	float:right;
	padding:27px 143px 0 0px;
	}
#comodo{
	width:115px;
	height:74px;
	float:right;
	padding:27px 21px 0 0px;
	}
.tested{
	width:49px;
	height:14px;
	float:left;
	padding:0px 0 0 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	text-align:left;
	}
.date{
	width:42px;
	height:14px;
	float:left;
	padding:0px 0px 0 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#900;
	text-align:left;
	}
.date1{
	width:42px;
	height:14px;
	float:left;
	padding:0px 0px 0 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#F00;
	text-align:left;
	}
#black_bg{
	width:900px;
	height:30px;
	float:left;
	background:url(../images/bg_00.gif) repeat-x;
	}
#grey_box{
	width:900px;
	height:auto;
	overflow:hidden;
	float:left;
	background:url(../images/bg_01.gif) repeat-y;
	border-bottom:#000 1px solid;
	}
#middlecontanier{
	width:726px;
	height:auto;
	overflow:hidden;
	margin:auto;
	}
#promise{
	width:726px;
	height:104px;
	float:left;
	}
#promise_left{
	width:10px;
	height:104px;
	float:left;
	}
#promise_middle{
	width:706px;
	height:104px;
	float:left;
	background:url(../images/bg_middle.gif) repeat-x;
	}
#img{
	width:71px;
	height:71px;
	float:left;
	padding:15px 27px 17px 51px;
	}
#promisetxt{
	width:510px;
	height:auto;
	overflow:hidden;
	float:left;
	padding:15px 0 0 0px;
	}
#promise_right{
	width:10px;
	height:104px;
	float:right;
	}

/*==========================Page Id Start=====================*/

#box_black{
	width:724px;
	height:auto;
	overflow:hidden;
	border:1px #000 solid;
	float:left;
	margin:24px 0 25px 0px;
	background:#FFF;
	}
#red_bg{
	width:724px;
	height:37px;
	float:left;
	background:#F00;
	overflow:hidden;
	}
.heading{
	width:688px;
	height:58px;
	margin:auto;
	background:url(../images/bg_talbe.gif) repeat-x;
	clear:both;
	}
.heading_01{
	width:330px;
	height:38px;
	float:left;
	padding:20px 0 0 0px;
	}
.heading_02{
	width:119px;
	height:38px;
	float:left;
	padding:20px 0 0 0px;
	}
.btn{
	width:688px;
	height:33px;
	padding:10px 0 58px 0px; 
	clear:both;
	margin:auto;
	}
	
/*==========================Page Id Start=====================*/

.form{
	width:648px;
	height:auto;
	overflow:hidden;
	margin:auto;
	padding:20px;
	}
.box1{
	width:600px;
	height:40px;
	float:left;
	margin:5px 0 0 0px;
	}
.box2{
	width:172px;
	height:40px;
	float:left;
	}
.box3{
	width:300px;
	height:40px;
	float:left;
	}
.box4{
	width:600px;
	height:auto;
	overflow:hidden;
	float:left;
	margin:5px 0 0 0px;
	}
.boxtxt{ 
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 11px;
    font-style: normal;
    color:#000;
    font-weight: normal;
	text-align:left;
}
.errtxt{ 
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 11px;
    font-style: normal;
    color:Red;
    font-weight: normal;
	text-align:left;
}
.txtbox{
	width:150px;
	height:20px;
	border:#CCC 1px solid;
	}
.txtbox1{
	width:75px;
	height:20px;
	border:#CCC 1px solid;
	}
.txtbox2{
	width:30px;
	height:20px;
	border:#CCC 1px solid;
	}
.txtbox3{
	width:60px;
	height:20px;
	border:#CCC 1px solid;
	}
.imgbox{
	width:123px;
	height:83px;
	float:left;
	}
.contentbox{
	width:508px;
	height:110px;
	float:right;
	padding-left:15px;
	background:url(../images/bg_02.gif) no-repeat;
	}
.contentbox0{
	width:505px;
	height:auto;
	overflow:hidden;
	float:right;
	padding-left:15px;
	}
.contentbox1{
	width:94px;
	height:auto;
	overflow:hidden;
	float:right;
	padding-right:15px;
	}
.contentbox2{
	width:380px;
	height:auto;
	overflow:hidden;
	float:left;
	padding-right:15px;
	padding-top:5px;
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	color:#000;
	font-weight: normal;
	line-height:17px;
	text-align:right;
	}
.tablebox{
	width:112px;
	height:34px;
	float:left;
	font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    color:#000;
    font-weight: normal;
	text-align:center;
	}
.tablebox1{
	width:112px;
	height:34px;
	float:left;
	font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    color:#000;
    font-weight: normal;
	text-align:center;
	}
.table{
	width:44px;
	height:25px;
	float:left;
	border:1px solid #000;
	font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    color:#000;
    font-weight: normal;
	line-height:30px;
	text-align:center;
	}
	
/*==========================Page Id Start=====================*/

#footer{
	float:none;
	margin:auto;
	padding:0px;
	width:900px;
	height:232px;
	clear:both;
	}
#links{
	width:900px;
	height:35px;
	float:left;
	padding:38px 0 0 0px;
	}
.links{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#2c7402;
	text-align:center;
}
.links:hover{
	padding:38px 0 0 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	text-align:center;
	}
#greenbg{
	width:787px;
	height:89px;
	margin:auto;
	padding:15px 16px 0 16px;
	background:#2c7402;
	clear:both;
	}
#upsell_container{
	width:726px;
	height:auto;
	float:left;
	border:1px #000 solid;
	padding:34px 40px 34px 40px;
	}